* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carcasa {
  display: flex;
  width: 350px;
  height: 550px;
  background-image: url(img/texturaConsola.png);
  background-size: cover;
  border-style: solid;
  border-width: 0.1px;
  border-radius: 10px 10px 70px 10px;
  position: absolute;
  box-shadow: 10px 10px 20px;
}

.bordepantalla {
  width: 280px;
  height: 200px;
  position: absolute;
  background: rgb(36, 35, 35);
  margin-top: 30px;
  border-radius: 3%;
  border-bottom-right-radius: 15%;
  margin-left: 30px;
}

.pantalla {
  width: 200px;
  height: 150px;
  background-image: url(img/nintendo.png);
  align-self: center;
  border-top-style: solid;
  border-left: solid;
  border-width: 5px;
  border-color: rgb(3, 3, 3);
  margin: 0 auto;
  margin-top: 20px;
}

.cruzvertical {
  background: rgb(36, 35, 35);
  height: 100px;
  width: 35px;
  position: relative;
  border-radius: 5px;
  top: -32px;
  left: 33px;
}

.cruzhorizontal {
  background: rgb(36, 35, 35);
  height: 35px;
  width: 100px;
  border-radius: 5px;
  position: relative;
  top: 260px;
  right: 40px;
}

.botona {
  width: 50px;
  height: 50px;
  background: rgb(32, 32, 32);
  border-radius: 50px;
  position: absolute;
  top: 300px;
  right: 70px;
}

.botona p {
  position: absolute;
  color: black;
  font-size: x-large;
  top: 10px;
  left: 70px;
}

.botonb {
  width: 50px;
  height: 50px;
  background: rgb(32, 32, 32);
  border-radius: 50px;
  position: absolute;
  top: 260px;
  right: 15px;
}

.botonb p {
  position: absolute;
  color: black;
  font-size: x-large;
  top: 90px;
  left: -35px;

}

.oval1 {
  width: 40px;
  height: 10px;
  position: absolute;
  background: rgb(24, 24, 24);
  border-radius: 100px / 50px;
  top: 470px;
  left: 118px;
}

.oval2 {
  width: 40px;
  height: 10px;
  position: absolute;
  background: rgb(24, 24, 24);
  border-radius: 100px / 50px;
  top: 470px;
  left: 170px;
}

.parlante {
  width: 70px;
  height: 70px;
  background-image: url(img/parlantito.png);
  position: absolute;
  align-self: flex-end;
  left: 250px;
  top: 460px;
}

.gameboytexto {
  width: 100px;
  height: 30px;
  background-image: url(img/gameboypockettexto.png);
  background-size: contain;
  position: absolute;
  top: 170px;
  left: 42px;
}